/* CHECKLIST */
    /* ADD FONT FILES */
    /* MOBILE FIRST */
    /* RESPONSIVE MIN-WIDTH 375px, 768px, 1280px (INSERT WITHIN MAIN SECTIONS) */
    /* SET VARIABLES */
    /* USE CALC */
    /* HEADER */
    /* HEADER MEDIA QUERY */
    /* MAIN */
    /* MAIN MEDIA QUERY */
    /* BOX MODAL */
    /* FOOTER */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* CLASS DEMO */
body {
	--spacing: 2em;

	font-family: monospace;
	font-size: 18px;
	padding: var(--spacing);
}

body, header, section, ul, li, footer, address {
	display: grid;
	gap: var(--spacing);
}

main { max-width: 600px }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }
p { max-width: 50ch; }