/* Checklist */
    /* Mobile First */
    /* Responsiveness-min 375px, 768px, 1280px */
    /* Set variables */
    /* Use calc */
    /* Add font files */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('impact.woff') format('woff');
    }



:root {

    /* general style */
    --base-size: 20px;
    --gutter-size: calc(3 * var(--base-size));
    --menu-font-size: 0.9rem;
    --svg-height: 80vh;
    --svg-min-height: 50vh;


    /* font style */
    --menu-font: 'Roboto Mono';
    --heading-font: 'Roboto Mono';
    --subheading-font: 'Cormorant Garamond';
    --paragraph-font: 'Roboto Mono';

    /* color style */
    --primary-color: black;
    --secondary-color: grey;
    --accent-color: green;
    --hover-color: black;

    /* h1 style */
    --h1-font-size: 5rem;
    --h1-padding: 20px;

    /* h2 style */
    --h2-font-size: 1.5rem;
    --h2-padding: 20px;


    /* h3 style */
    /* h4 style */
    /* h5 style */
    /* h6 style */

    /* paragraph style */
    --p-font-size: 0.9rem;

    /* media queries */

}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding-left: var(--base-size);
    padding-right: var(--base-size);
}

.header {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    align-items: center;
    padding: var(--base-size);
}

.header-left {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: left;
}

.header-right {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: right;
}

.header-right a {
    text-decoration: none;
    color: black;
    font-size: var(--menu-font-size);
}

.header-right a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

.menu-toggle {
    font-family: var(--menu-font);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: right;
}

.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: var(--base-size);
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: var(--menu-font-size);
}

.nav-links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}


/* HEADER MEDIA QUERY */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #000;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle.active {
        content: '[CLOSE]';
    }
}

@media (min-width: 769px) {
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1000px) {
    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
    }

}


/* Main */

/* main {
    width: 100%;
    text-align: center;
    margin: auto;
} */

svg {
    width: 100%;
    height: var(--svg-height);
    transition: height 0.2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    margin-top: 90vh;
    padding: 2rem;
    font-size: 2rem;
}

.titleStretch {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* BLOCKS */

main #channel-blocks ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    list-style: none;
    
}

/* BLOCKS MEDIA QUERY*/
@media (min-width: 769px) {
main #channel-blocks ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
main #channel-blocks ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}


#channel-blocks img iframe video {
	display: block;
	width: 100vw;
	height: auto;
	object-fit: cover;
	aspect-ratio: 1/1;
	overflow: hidden;
}

#channel-blocks a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}







h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    padding: auto;

}


h2 {
    font-family: var(--subheading-font);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

#channel-description {
    font-family: var(--subheading-font);
    font-size: var(--h2-font-size);
    padding: auto;

}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 2 - 10px));
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 20px;
} */

/* #channel-blocks a:hover {
    text-decoration: underline;
} */

/* section .grid-container {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 2 - 10px));
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    padding: 20px;
} */










