/* CHECKLIST */
    /* ADD FONT FILES */
    /* MOBILE FIRST */
    /* RESPONSIVE MIN-WIDTH 375px, 768px, 1280px (INSERT WITHIN MAIN SECTIONS) */
    /* SET VARIABLES */
    /* USE CALC */
    /* HEADER */
    /* HEADER MEDIA QUERY */
    /* MAIN */
    /* MAIN MEDIA QUERY */
    /* BLOCKS */
    /* BLOCKS MEDIA QUERY*/
    /* BOX MODAL */
    /* FOOTER */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* GENERAL */
    --spacing: 1.25rem;
    --svg-height: 80vh;
    --svg-min-height: 50vh;
    --box-width: 80vw;
    --box-height: 60vh;

    /* FONT IN USE */
    --menu-font: 'Roboto Mono';
    --heading-font: 'Cormorant Garamond';
    --subheading-font: 'Cormorant Garamond';
    --block-title-font: 'Roboto Mono';
    --paragraph-font: 'Roboto Mono';

    /* COLORS */
    --images-color: #e19ac3;
    --links-color: #b9e4cf;
    --videos-color: #a8692c;
    --pdf-color: #ffcc02;
    --audio-color: #047641;
    --colophon-color: #4267ff;
    --arena-color: #ef4600;

    /* h1 STYLE */
    --h1-font-size: 1.3rem;

    /* h2 STYLE */
    --h2-font-size: 1rem;

    /* h3 STYLE */
    --h3-font-size: 0.9rem;

    /* p STYLE */
    --p-font-size: 0.9rem;

}

/* CLASS DEMO */
/* body {
	font-family: monospace;
	font-size: 18px;
	padding: var(--spacing);
} */

/* body, header, section, ul, li, footer, address {
	display: grid;
	gap: var(--spacing);
} */

/* main { max-width: 600px } */

.menu a { 
    border: black solid 1px;
    border-radius: 30px;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    padding-left: calc(1.2 * var(--spacing));
    padding-right: calc(1.2 * var(--spacing));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: var(--p-font-size);

}

em { font-style: italic; }
strong { font-weight: bold; }
/* p { max-width: 50ch; } */



/* NEW STYLE */

html {
    scroll-behavior: smooth;
    margin: auto;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}


h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
}

p {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);

}

h3, figcaption {
    font-family: var(--block-title-font);
    font-size: var(--h3-font-size);
    text-transform: uppercase ;
    width: 100%;
}

#channel-description {
    font-family: var(--subheading-font);
    font-size: var(--h1-font-size);
}


/* HEADER STYLE */



/* MAIN STYLE */



.collection-intro {
    border: black solid 1px;
    padding: calc(1.2 * var(--spacing));
    border-radius: 20px;
    margin-bottom: calc(1.2 * var(--spacing));
}

#intro-button {
    display: flex;
}

#channel-link,
#colophon {
  display: inline-block;
  padding-right: var(--spacing);
}

#channel-link a {
    font-family: var(--subheading-font);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    background-color: var(--arena-color);
    padding-left: calc(1.2 * var(--spacing));
    padding-right: calc(1.2 * var(--spacing));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 50%;  
}

#colophon a {
    font-family: var(--subheading-font);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    background-color: var(--colophon-color);
    padding-left: calc(1.2 * var(--spacing));
    padding-right: calc(1.2 * var(--spacing));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 50%;  
}

.block-grid {
    border: black solid 1px;
    padding: calc(1.2 * var(--spacing));
    border-radius: 20px;
}

#channel-count {
    font-family: var(--paragraph-font);
    font-size: var(--p-font-size);
    text-transform: uppercase;
}

/* SVG */
.svg-loop {
    border: black solid 1px;
    padding: calc(1.2 * var(--spacing));
    border-radius: 20px;
    height: 60vh;
    margin-bottom: calc(1.2 * var(--spacing));  
}

@media (min-width: 900px) {
    .svg-loop {
    border: black solid 1px;
    padding: calc(1.2 * var(--spacing));
    border-radius: 20px;
    height: 80vh; 
    margin-bottom: calc(1.2 * var(--spacing)); 
    }

    #Layer_1 {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        align-content: center;
        overflow: hidden;
    }



}

/* .collection-intro {
    display: block;
    padding-top: calc(2 * var(--spacing) );
    padding-bottom: calc(2 * var(--spacing) );
}


@media (min-width: 768px) {
    .collection-intro {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .collection-intro > * {
      grid-column: 2 / span 2;
    }
}

@media (min-width: 1280px) {
    .collection-intro {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .collection-intro > * {
      grid-column: 3 / span 3;
    }
} */


/* MAIN MEDIA QUERY */

@media (min-width: 1160px) {
    .main-grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: var(--spacing);
    }
}

/* BLOCK STYLE */
#channel-blocks {
    display: grid;
    gap: var(--spacing);
	grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-top: calc(2 * var(--spacing));
}

.video video {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}

.linked-video iframe {
    width: 100% !important;
    aspect-ratio: 16/9;
    display: block;
    overflow: hidden;
}

li.Text blockquote {
    overflow-wrap: break-word;
    max-width: 100%;
}

#channel-blocks li.Text {
    width: 100%;
    height: 300px;
    overflow: scroll;
}

#channel-blocks li.audio audio {
    width: 100%;
    display: block;
}

audio {
    all:revert;
    width: 100%;
    display: block;
    background: #f0f0f0;
    border-radius: 50px;
}

.image-block {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    object-fit: cover;
    
}
  

/* BLOCKS MEDIA QUERY*/

@media (min-width: 550px) {
    #channel-blocks {
	grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(2 * var(--spacing));
    padding-left: calc(2 * var(--spacing));
    padding-right: calc(2 * var(--spacing));
    }
}

@media (min-width: 768px) {
    #channel-blocks {
	grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    #channel-blocks {
	grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: calc(2 * var(--spacing));
    }

}

@media (min-width: 1920px) {
    #channel-blocks {
	grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: calc(5 * var(--spacing));
    }
}


/* BOX MODAL */

button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: var(--paragraph-font);
    font-size: var(--p-font-size);
}

.link-block dialog[open] {
    background-color: var(--links-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}

.image-block dialog[open] {
    background-color: var(--image-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}

.Text dialog[open] {
    background-color: var(--links-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}

.video dialog[open] {
    background-color: var(--video-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}

.audio dialog[open] {
    background-color: var(--audio-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}

.linked-video dialog[open] {
    background-color: var(--video-color);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
    padding: var(--spacing);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 20px;

}


::backdrop {
	background-color: rgb(0 0 0 / 75%); /* A dark overlay. */
	backdrop-filter: blur(8px); /* Maybe a little “glassmorphism”? */
}

body:has(dialog[open]) {
    overflow: hidden;
}

body:has(dialog[open]) figure {
    filter: blur(8px);
}

.modal-content {
    max-width: 90vw;
    height: 60vh;
}


/* LOOP ANIMATION */

/* .loop {
    display: flex;
    padding-top: calc(2 * var(--spacing));
    margin: 0;
    overflow: hidden;
    margin-top: 1rem;
} */

@media (min-width: 1280px) {
    .loop {
    height: 60svh;
    position: fixed;
    }
}

g {
    transform-box: fill-box;
    transform-origin: center center;
    animation: rotate 15s linear infinite;
}
  
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

g:nth-child(odd) {
    animation-duration: 10s;
  }
  
  g:nth-child(even) {
    animation-duration: 20s;
  }



/* FILTER */


.filter {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    justify-content: center;
    padding: calc(1.2 * var(--spacing));
}


.filter-btn {
    font-family: var(--subheading-font);
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    padding: 0.5rem calc(1.2 * var(--spacing));
    border-radius: 50%;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}


.filter-btn[data-filter="all"] {
    background-color: var(--colophon-color);
}
.filter-btn[data-filter="link-block"] {
    background-color: var(--links-color);
}
.filter-btn[data-filter="image-block"] {
    background-color: var(--images-color);
}
.filter-btn[data-filter="video"] {
    background-color: var(--videos-color);
}
.filter-btn[data-filter="pdf"] {
    background-color: var(--pdf-color);
}
.filter-btn[data-filter="audio"] {
    background-color: var(--audio-color);
}


.filter-btn:hover,
.filter-btn.active {
    transform: translateY(-3px);
    border-bottom: 3px solid black;
}


@media (min-width: 768px) {
    .filter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing);
    }

    .filter {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: var(--spacing);
    }
}

@media (max-width: 500px) {
    .filter {
        display: block;
    }
    .filter-btn {
        display: block;
        width: 100%;
        margin-bottom: var(--spacing);
    }
}

/* COLOPHON BOX MODAL */

#colophonModal {
    background-color: white;
    border: none;
    padding: 2rem;
    max-width: 90vw;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#colophonModal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: var(--p-font-size);
}


#closeColophon button {
    background: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
    border: black solid 1px;
}

#closeColophon:hover {
    background: red;
}


::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


@media (max-width: 768px) {
    #colophonModal {
        max-width: 95vw;
        max-height: 85vh;
        padding: 1.5rem;
    }

    #colophonModal .modal-content {
        font-size: 0.9rem;
    }

    #closeColophon {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}

